
COMP9444_HW1/__pycache__/*
COMP9444_HW1/*.dll
COMP9444_HW1/conda-meta/*
COMP9444_HW1/DLLS/*
COMP9444_HW1/include/*
COMP9444_HW1/Lib/*
COMP9444_HW1/Library/*
COMP9444_HW1/libs/*
COMP9444_HW1/Menu/*
COMP9444_HW1/Scripts/*
COMP9444_HW1/share/*
COMP9444_HW1/tcl/*
COMP9444_HW1/Tools/*
COMP9444_HW1/.nonadmin
COMP9444_HW1/venvwlauncher.exe
COMP9444_HW1/venvlauncher.exe
COMP9444_HW1/pythonw.pdb
COMP9444_HW1/pythonw.exe
COMP9444_HW1/python39.pdb
COMP9444_HW1/python.pdb
COMP9444_HW1/python.exe
COMP9444_HW1/LICENSE_PYTHON.txt
COMP9444_HW1/COMP9444_A1.ipynb